@tailwind base;
@tailwind components;
@tailwind utilities;

.forsc::-webkit-scrollbar {
  display: none;
}

.fsc {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 79%, rgba(255, 255, 255, 0.4906337535014006) 100%);

}

.fscc {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148459384) 0%, rgba(255, 255, 255, 1) 27%);

}

.sthj {}