@tailwind base;
@tailwind components;
@tailwind utilities;

.forsc::-webkit-scrollbar {
  display: none;
}

.fsc {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 79%, rgba(255, 255, 255, 0.4906337535014006) 100%);

}

.fscc {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148459384) 0%, rgba(255, 255, 255, 1) 27%);

}

.rata {
  background-image: url(../public//bg/nunzio-guerrera-PvtCOQP2cjg-unsplash.jpg);
  background-repeat: no-repeat;
}

.galgal {
  line-height: 0;
  -webkit-column-count: 3;
  /* split it into 5 columns */
  -webkit-column-gap: 25px;
  /* give it a 5px gap between columns */
  -moz-column-count: 3;
  -moz-column-gap: 25px;
  column-count: 3;
  column-gap: 25px;
}



.imgg {
  width: 100%;
  height: auto;
}

/* .imgg:hover~.zzs {
  top: 75px;
} */
.zzs:hover {
  background-color: rgba(0, 0, 0, .5);
}

.zzs:hover~.sspg {
  top: 0;
}

.zzs:hover~.sspgg {
  bottom: 0;
}

.sspg:hover {
  top: 0;
}

.sspg:hover .sspgg {
  bottom: 0;
}

.sspgg:hover {
  bottom: 0;
}

.sspgg:hover .sspg {
  top: 0;
}

.zzs,
.sspg {
  transition: .1s background ease-in-out;
}

.svv::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .galgal {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}